@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

.App {
  text-align: center;
  margin: 0 10%;
  font-family: "Noto Sans", sans-serif;
}

h1 {
  font-size: 1.5rem;
  color: #565656;
  margin: 0;
}

a {
  text-decoration: none;
}
